PORT=8082
SERVICE_NAME=hs-chat-service
MONGODB_URI=mongodb://homespace:homespace123@localhost:27017/homespace_chat?authSource=admin
EUREKA_CLIENT_SERVICE_URL=http://localhost:8761/eureka
EUREKA_INSTANCE_HOSTNAME=localhost
AGORA_APP_ID=
AGORA_APP_CERTIFICATE=
